#d1{
        
    background-color:rgb(240, 98, 47);
    height: 35px;
    
    
}
#d2{
    
    background-color: rgba(0, 0, 0, 0.897);
    height: 500px;
    padding-top: 60px;
   color:rgb(241, 241, 241);
}
#d3{
    
    background-color:orangered;
    height: 35px;
    
}
